{% extends "header.html" %}
{% block content %}


<div class="row">
    <div class="col">
        {# Upload images to database #}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-info">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}

        {% if imgs %}
        <form action="" method="post">
            {{ imgs.csrf_token }}
            <div class="form-group">
                {{ imgs.drop_down.label(class="form-control-label") }}
                {{ imgs.drop_down(class="form-control form-control-lg") }}
            </div>
            <div class="form-group">
                {{ imgs.go() }}
            </div>
        </form>
        {% endif %}
    </div>
</div>

{% if image %}
<img class="propic" src="data:image/png;base64,{{image}}" alt="image">
{% endif %}


{{ map|safe }}

<div class="row">
    <div class="col">
        {% for key in info %}
            <div class="row">
                <h4> {{ key }} </h4>
            </div>
            <div class="row">
                <p> {{info[key]}} </p>
            </div>
        {% endfor %}
    </div>
    {% if link_to_gm %}
    <div class="col">
        <a href={{ link_to_gm[0] }} target="_blank" rel="noopener noreferrer">Google Maps for {{ link_to_gm[1] }}</a>
    </div>
    {% endif %}
</div>


{% endblock %}
