{% extends "header.html" %}
{% block content %}

<h6 id="label-images-by-using-this-link-https-www-makesense-ai-">Label images by using this link <a href="https://www.makesense.ai/">https://www.makesense.ai/</a></h6>
<p>Instructions: </p>
<ol>
<li>Click get started</li>
<li>Click drop images and select the images you wish to label. Select multiple by holding down the select key. </li>
<li>Click Object Detection</li>
<li>Click Load Labels From File</li>
<li>Download the labels file by clicking on this link. <a href="{{ url_for('model.download_labels') }}">Labels</a></li>
<li>Click the Click here to select it. </li>
<li>Make sure it says 12 labels found</li>
<li>Click load labels from list</li>
<li>Click start project</li>
<li>Draw boxes and select the correct label. </li>
<li>Once finished labeling all the images, click Actions and then export annotations. </li>
<li>Check the box saying a .zip package containing files in YOLO format. </li>
<li>Click export</li>
</ol>


{% if not current_user.is_authenticated %}
<div class="row">
    <h6>
        Register/Login to upload data.
    </h6>
</div>
{% else %}
<div class="row">
    <div class="col">
        {# Upload images to database #}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-info">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <form method="POST" method="post" enctype="multipart/form-data">
            {{ form.csrf_token }}
            <div class="form-group">
                .jpg files
                {{ form.files(class="form-control") }}
            </div>
            <div class="form-group">
                .txt files
                {{ form.txt_files(class="form-control") }}
            </div>
            </div>
            <div class="form-group">
                {{ form.submit() }}
            </div>
        </form>
    </div>
</div>
{% endif %}


{% endblock %}
