{% extends "header.html" %}
{% block content %}
<div class="row">
    <div class="col">
        {# Display any error messages #}
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <h3> {{message}} </h3>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
</div>
<div class="row">
    <div class="col">
        {# Indicate which user's reviews we're looking at #}
        <h3>
            Upload
        </h3>
    </div>

    <div class="col">
        {# Indicate which user's reviews we're looking at #}
        <h3>
            Prediction
        </h3>
    </div>

    <div class="col">
        {# Indicate which user's reviews we're looking at #}
        <h3>
            Truth
        </h3>
    </div>
</div>


{% if user_audios %}
    {% for a in user_audios %}
        <div class="row">
            <div class="col">
                <figure>
                    <audio
                        controls
                        src="data:audio/mp3;base64,{{a['data']}}">
                            Your browser does not support the
                            <code>audio</code> element.
                    </audio>
                </figure>
            </div>
            <div class="col">
                <h5>
                    {{a['pred']}}
                </h5>
            </div>
            <div class="col">
                <h5>
                    {{a['truth']}}
                </h5>
            </div>
        </div>

    {% endfor %}
{% endif %}
{% endblock %}
