-f https://download.pytorch.org/whl/torch_stable.html
attrs==20.2.0
bcrypt==3.2.0
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
click==7.1.2
dnspython==2.0.0
email-validator==1.1.1
Flask==1.1.2
Flask-Bcrypt==0.7.1
Flask-Login==0.5.0
flask-mongoengine==0.9.5
Flask-WTF==0.14.3
gunicorn==20.1.0
idna==2.10
iniconfig==1.1.1
itsdangerous==1.1.0
Jinja2==2.11.2
MarkupSafe==1.1.1
mongoengine==0.20.0
numpy==1.20.2
opencv-python>=4.1.2
packaging==20.4
Pillow==8.2.0
pluggy==0.13.1
py==1.9.0
pycparser==2.20
pydub==0.25.1
pymongo==3.11.0
pyparsing==2.4.7
pytest==6.1.2
python-dotenv==0.15.0
PyYAML>=5.3.1
requests==2.24.0
scipy>=1.4.1
six==1.15.0
toml==0.10.1
torch>=1.8.1+cpu
torchvision>=0.9.1+cpu
typing-extensions==3.10.0.0
urllib3==1.25.11
Werkzeug==1.0.1
WTForms==2.3.3
seaborn>=0.11.0
pandas
thop
pycocotools>=2.0
tqdm
exifread
APScheduler==3.3.1
folium
